{% import "src/UUID.j2" as UUID with context %}
<div id="dmp-content">
  <section id="general_information" class="dmp-section">
          
          <h2>1. Beschrijving onderzoeksproject</h2>
          {% include "src/questions/01-beschrijving-onderzoeksproject.html.j2" with context %}
  </section>

</section>
</div>
