{% import "src/UUID.j2" as UUID with context %}
<div id="Edit this" class="question">
 <div class="answer">

	{%- set Contributors_list = [UUID.chapter02_basic_uuid,UUID.contributor_list_uuid]|reply_path -%}
	{%- set Contributors_answers = repliesMap[Contributors_list]|reply_items -%}


    {%- for Contributor in Contributors_answers -%}
		{%- set Contributor_name_path = [Contributors_list,Contributor,UUID.contributor_sub_naam_uuid]|reply_path -%}
		{%- set Contributor_name = repliesMap[format_namepath]|reply_str_value -%}

        {%- set contributor_Email_path = [Contributors_list,Contributor,UUID.contributor_sub_email_uuid]|reply_path -%}
		{%- set contributor_Email = repliesMap[contributor_Email_path]|reply_str_value -%}

        {%- set contributor_ORCID_path = [Contributors_list,Contributor,UUIDcontributor_ORCID_uuid]|reply_path -%}
		{%- set contributor_ORCID = repliesMap[contributor_ORCID_path]|reply_str_value -%}

        {%- set contributor_phone_number_path = [Contributors_list,Contributor,UUID.contributor_phone_number_uuid]|reply_path -%}
		{%- set contributor_phone_number = repliesMap[contributor_phone_number_path]|reply_str_value -%}
	
        {%- set contributor_Affiliation_path = [Contributors_list,Contributor,UUID.contributor_Affiliation_uuid]|reply_path -%}
        {%- set contributor_Affiliation = repliesMap[contributor_Affiliation_path]|reply_str_value -%}

        {%- set contributor_Roles_uuid_path = [Contributors_list,Contributor,UUID.contributor_Roles_uuid]|reply_path -%}
        {%- set contributor_Roles_list_path = repliesMap[contributor_Roles_uuid_path]|reply_items -%}

        {%- set contributor_exstra_info_path = [Contributors_list,Contributor,UUIDcontributor_exstra_info_uuid]|reply_path -%}
        {%- set contributor_exstra_info = repliesMap[contributor_exstra_info_path]|reply_str_value -%}

            
        	<p> name:<br> {{ Contributor_name }} <p>
            <p><i><u> email: </i></u> {{ contributor_Email}} <p>
            <p><i><u> ORCID: </i></u> {{ contributor_Email}} <p>
            <p><i><u> Telefoon nummer: </i></u> {{ contributor_Email}} <p>
            <p><i><u> Affiliatie: </i></u> {{ contributor_Email}} <p>
            <p><i><u> email: </i></u> {{ contributor_Email}} <p>

            {%- for role_path in contributor_Roles_list_path -%}
                {%- set  contributor_role_path = [contributor_Roles_uuid_path,role_path]%}
                {%- set contributor_role = repliesMap[contributor_role_path]|reply_items%}
            <p> {{contributor_Roles_list_path}} <p>

            {%- if contributor_exstra_info -%}
                <p><i><u> Exstra informatie: </i></u> {{ contributor_Email}} <p>
            {%endif%}

	{% endfor %}





  </div>
</div>
