{% import "src/UUID.j2" as UUID with context %}
<div id="Organisatorische_gegevens" class="question">
 <div class="answer">

    {%- set QExpertice_centrum_path = [UUID.chapter03_basic_uuid,UUID.qmexpertice_centrum_uuid]|reply_path -%}
    {%- set Qexpertice_centrum_answers = repliesMap[QExpertice_centrum_path]|reply_str_value -%}
    {%- set Aexpertice_centrum_answer = km.entities.answers[Qexpertice_centrum_answers] -%}

    {%- set Q_lectoraat_path = [UUID.chapter03_basic_uuid, UUID.qlectoraat_uuid]|reply_path -%}
    {%- set A_lectoraat = repliesMap[Q_lectoraat_path]|reply_str_value -%}

    {%- set Q_PHD = [UUID.chapter03_basic_uuid,UUID.qPhd_project_uuid]|reply_path -%}
    {%- set Q_PHD_answers = repliesMap[Q_PHD]|reply_str_value -%}
    {%- set A_PHD_answer = km.entities.answers[Q_PHD_answers] -%}

    {%- set Q_promotor = [UUID.chapter03_basic_uuid, UUID.qPhd_promotor_uuid]|reply_path -%}
    {%- set A_promotor = repliesMap[Q_promotor]|reply_str_value -%}



    {% if Qexpertice_centrum_answers %}
      <p><i><u>Expertisecentrum </i></u>{{ Aexpertice_centrum_answer.label }}.<p>
		{% else %}
      <p><i><u>Expertisecentrum:</i></u><p>
    {% endif %}

    <p><i><u> Lectoraat waat onderzoek wordt uitgevoerd: {{A_lectoraat }} <p>



    {% if Q_PHD_answers%}
      <p><i><u> Betreft het een PhD project: </i></u>{{ A_PHD_answer.label }}.<p>
      {% if Q_PHD_answers == qPhd_project_ja_uuid%}
        <p><i><u> Naam promotor: </i></u>{{A_promotor}}<p>
      {%endif%}
    {%else%}
      <p><i><u> Betreft het een PhD project:<p>
    {%endif%}


    {# project leaders#}
    {%- set project_leader_list = [UUID.chapter03_basic_uuid,UUID.qProject_leiders_list_uuid]|reply_path -%}
    {%- set Project_leaders = repliesMap[project_leader_list]|reply_items -%}
    <p> project leiders: <p>
    {%- for project_leader in Project_leaders -%}
          {%- set Project_leader_name_path = [project_leader_list,project_leader,UUID.qProject_leiders_list_naam_uuid]|reply_path -%}
          {%- set project_leader_name = repliesMap[Project_leader_name_path]|reply_str_value -%}
          
          {%- set Project_leader_organisatie_path = [project_leader_list,project_leader,UUID.qProject_leiders_list_organisatie_uuid]|reply_path -%}
          {%- set project_leader_organisatie = repliesMap[Project_leader_organisatie_path]|reply_str_value -%}

          {%- set Project_leader_email_path = [project_leader_list,project_leader,UUID.qProject_leiders_list_email_uuid]|reply_path -%}
          {%- set project_leader_email = repliesMap[Project_leader_email_path]|reply_str_value -%}

          {%- set Project_leader_telefoon_path = [project_leader_list,project_leader,UUID.qProject_leiders_list_telefoon_uuid]|reply_path -%}
          {%- set project_leader_telefoon = repliesMap[Project_leader_telefoon_path]|reply_str_value -%}

          {%- set Project_leader_exstra_path = [project_leader_list,project_leader,UUID.qProject_leiders_list_exstrainformatie_uuid]|reply_path -%}
          {%- set project_leader_exstra = repliesMap[Project_leader_exstra_path]|reply_str_value -%}

        
          <p><i><u>Naam projectleider:</i></u> {{project_leader_name}}.<br>
          <p><i><u>organisatie:</i></u> {{project_leader_organisatie}}.<br>
          <p><i><u>email:</i></u> {{project_leader_email}}.<br>
          <p><i><u>telefoon:</i></u> {{project_leader_email_telefoon}}.<br>
          {% if project_leader_exstra %}
            <p><i><u>Exstra informatie:</i></u><br>{{ project_leader_exstra }}.<br>
          {% endif %}
      {%endfor%}
    {# researchers #}
    <p> researchers <p>
    {%- set onderzoekers_list = [UUID.chapter03_basic_uuid,UUID.qOnderzoekers_list_uuid]|reply_path -%}
    {%- set onderzoekers = repliesMap[onderzoekers_list]|reply_items -%}
    {%- for onderzoeker in onderzoekers -%}

          {%- set onderzoeker_naam_path = [onderzoekers_list,onderzoeker,UUID.qOnderzoekers_list_naam_uuid]|reply_path -%}
          {%- set onderzoeker_naam = repliesMap[onderzoeker_naam_path]|reply_str_value -%}

          {%- set onderzoeker_organisatie_path = [onderzoekers_list,onderzoeker,UUID.qOnderzoekers_list_organisatie_uuid]|reply_path -%}
          {%- set onderzoeker_organisatie = repliesMap[onderzoeker_organisatie_path]|reply_str_value -%}
    
          {%- set onderzoeker_functie_path = [onderzoekers_list,onderzoeker,UUID.qOnderzoekers_list_functie_uuid]|reply_path -%}
          {%- set onderzoeker_functie = repliesMap[onderzoeker_organisatie_path]|reply_str_value -%}

          {%- set onderzoeker_email_path = [onderzoekers_list,onderzoeker,UUID.qOnderzoekers_list_email_uuid]|reply_path -%}
          {%- set onderzoeker_email = repliesMap[onderzoeker_organisatie_path]|reply_str_value -%}

          {%- set onderzoeker_telefoon_path = [onderzoekers_list,onderzoeker,UUID.qOnderzoekers_list_email_uuid]|reply_path -%}
          {%- set onderzoeker_telefoon = repliesMap[onderzoeker_telefoon_path]|reply_str_value -%}

          {%- set qOnderzoekers_list_exstra_path = [onderzoekers_list,onderzoeker,UUID.qOnderzoekers_list_exstra_uuid]|reply_path -%}
          {%- set onderzoekers_exstra = repliesMap[qOnderzoekers_list_exstra_path]|reply_str_value -%}

          <p>
          <p><i><u>Naam onderzoeker:</i></u> {{onderzoeker_naam}}.<br>
          <p><i><u>Organisatie:</i></u> {{onderzoeker_organisatie}}.<br>
          <p><i><u>Functie:</i></u> {{onderzoeker_functie}}.<br>
          <p><i><u>email:</i></u> {{onderzoeker_email}}.<br>
          <p><i><u>telefoon:</i></u> {{onderzoeker_telefoon}}.<br>
          {% if onderzoekers_exstra %}
            <p><i><u>Exstra informatie:</i></u><br>{{ onderzoekers_exstra }}.<br>
          {% endif %}
    {% endfor %}


    
    {# assignment givvers #}
    <p> oprdracht gevers <p>
    {%- set opdracht_gever_list = [UUID.chapter03_basic_uuid,UUID.Qopdrachtgever]|reply_path -%}
    {%- set opdrachtgevers = repliesMap[opdracht_gever_list]|reply_items -%}
    {%- for opdrachtgever in opdrachtgevers -%}

          {%- set opdrachtgever_naam_path = [opdracht_gever_list,opdrachtgever,UUID.Qopdrachtgever_contactpersoon]|reply_path -%}
          {%- set opdrachtgever_naam = repliesMap[opdrachtgever_naam_path]|reply_str_value -%}

          {%- set opdrachtgever_organisatie_path = [opdracht_gever_list,opdrachtgever,UUID.Qopdrachtgever_Organisatie]|reply_path -%}
          {%- set opdrachtgever_organisatie = repliesMap[opdrachtgever_organisatie_path]|reply_str_value -%}
    
          {%- set opdrachtgever_functie_path = [opdracht_gever_list,opdrachtgever,UUID.Qopdrachtgever_Functie]|reply_path -%}
          {%- set opdrachtgever_functie = repliesMap[opdrachtgever_organisatie_path]|reply_str_value -%}

          {%- set opdrachtgever_email_path = [opdracht_gever_list,opdrachtgever,UUID.Qopdrachtgever_Email]|reply_path -%}
          {%- set opdrachtgever_email = repliesMap[opdrachtgever_organisatie_path]|reply_str_value -%}

          {%- set opdrachtgever_telefoon_path = [opdracht_gever_list,opdrachtgever,UUID.Qopdrachtgever_TelefoonNR]|reply_path -%}
          {%- set opdrachtgever_telefoon = repliesMap[opdrachtgever_telefoon_path]|reply_str_value -%}

          {%- set opdrachtgever_list_exstra_path = [opdracht_gever_list,opdrachtgever,UUID.Qopdrachtgever_extra_info]|reply_path -%}
          {%- set opdrachtgever_exstra = repliesMap[opdrachtgever_list_exstra_path]|reply_str_value -%}

          <p>
          <p><i><u>Naam opdrachtgever:</i></u> {{opdrachtgever_naam}}.<br>
          <p><i><u>Organisatie:</i></u> {{opdrachtgever_organisatie}}.<br>
          <p><i><u>Functie:</i></u> {{opdrachtgever_functie}}.<br>
          <p><i><u>email:</i></u> {{opdrachtgever_email}}.<br>
          <p><i><u>telefoon:</i></u> {{opdrachtgever_telefoon}}.<br>
          {% if opdrachtgever_exstra %}
            <p><i><u>Exstra informatie:</i></u><br>{{ opdrachtgever_exstra }}.<br>
          {% endif %}
    {% endfor %}

  </div>
</div>
