{% import "src/UUID.j2" as UUID with context %}
<div id="Edit this" class="question">
 <div class="answer">

    
    {%- set data_steward_avans_path = [UUID.chapter_04_datamanagement_rollen,UUID.qdatasteward_avans_uuid]|reply_path -%}
    {%- set Am_data_steward_avans = repliesMap[data_steward_avans_path]|reply_str_value -%}
    {%- set A_data_steward_avans = km.entities.answers[Am_data_steward_avans] -%}

    {%- set data_steward_avans_naam_path = [data_steward_avans_path,UUID.qdatasteward_avans_ja_uuid,UUID.qdatasteward_avans_naam_uuid]|reply_path -%}
    {%- set A_data_steward_avans_naam = repliesMap[data_steward_avans_naam_path]|reply_str_value -%}

    {%- set data_steward_avans_datum_path = [data_steward_avans_path,UUID.qdatasteward_avans_ja_uuid,UUID.qdatasteward_avans_datum_uuid]|reply_path -%}
    {%- set A_data_steward_avans_datum = repliesMap[data_steward_avans_datum_path]|reply_str_value -%}



    {%- set Data_gearchiveerd_path = [UUID.chapter_04_datamanagement_rollen,UUID.qdata_achriveert]|reply_path -%}
    {%- set A_Data_gearchiveerd = repliesMap[Data_gearchiveerd_path]|reply_str_value -%}

    {%- set Data_gearchiveerd_structuur_path = [UUID.chapter_04_datamanagement_rollen,UUID.qdata_archief_structure_uuid]|reply_path -%}
    {%- set A_Data_gearchiveerd_structuur = repliesMap[Data_gearchiveerd_structuur_path]|reply_str_value -%}

    {%- set Data_gearchiveerd_replicatie_path = [UUID.chapter_04_datamanagement_rollen,UUID.qdata_documentatie_replicatie_uuid]|reply_path -%}
    {%- set A_Data_gearchiveerd_replicatie = repliesMap[Data_gearchiveerd_replicatie_path]|reply_str_value -%}

    {%- set verantwoordelijke_list = [UUID.chapter_04_datamanagement_rollen,UUID.eerste_verantwoordelijke_list_uuid]|reply_path -%}
    {%- set verantwoordelijken = repliesMap[verantwoordelijke_list]|reply_items -%}
    {% for verantwoordelijke in verantwoordelijken %}

          {%- set verantwoordelijke_naam_path = [verantwoordelijke_list,verantwoordelijke,UUID.eerste_verantwoordelijke_naam_uuid]|reply_path -%}
          {%- set verantwoordelijke_naam = repliesMap[verantwoordelijke_naam_path]|reply_str_value -%}

          {%- set verantwoordelijke_organisatie_path = [verantwoordelijke_list,verantwoordelijke,UUID.eerste_verantwoordelijke_Organisatie_uuid]|reply_path -%}
          {%- set verantwoordelijke_organisatie = repliesMap[verantwoordelijke_organisatie_path]|reply_str_value -%}

          {%- set verantwoordelijke_email_path = [verantwoordelijke_list,verantwoordelijke,UUID.eerste_verantwoordelijke_Email_uuid]|reply_path -%}
          {%- set verantwoordelijke_email = repliesMap[verantwoordelijke_email_path]|reply_str_value -%}

          {%- set verantwoordelijke_telefoon_path = [verantwoordelijke_list,verantwoordelijke,UUID.eerste_verantwoordelijke_Telefoon_nr_uuid]|reply_path -%}
          {%- set verantwoordelijke_telefoon = repliesMap[verantwoordelijke_telefoon_path]|reply_str_value -%}

          {%- set verantwoordelijke_exstra_path = [verantwoordelijke_list,verantwoordelijke,UUID.eerste_verantwoordelijke_Exstra_informatieuuid]|reply_path -%}
          {%- set verantwoordelijke_exstra = repliesMap[verantwoordelijke_exstra_path]|reply_str_value -%}

          <p><i><u>Naam eerste verantwoordelijke:</i></u>verantwoordelijke_organisatie{{verantwoordelijke_naam}}.<p>
          <p><i><u>Organisatie:</i></u> {{verantwoordelijke_organisatie}}.<p>
          <p><i><u>email:</i></u> {{verantwoordelijke_email}}.<p>
          <p><i><u>telefoon:</i></u> {{verantwoordelijke_telefoon}}.<p>
          {% if verantwoordelijke_exstra %}
            <p><i><u>Exstra informatie:</i></u><br>{{ verantwoordelijke_exstra }}.<p>
          {% endif %}
      {% endfor %}

    {% if A_data_steward_avans %}
      <p><i><u>Datasteward betrokken:</i></u> {{ A_data_steward_avans.label }}.<br>
      {% if UUID.qdatasteward_avans_ja_uuid == Am_data_steward_avans %}
            <i><u>Naam datasteward:</i></u> {{A_data_steward_avans_naam}}.<br>
            <i><u>datum sinds betrokken:</i></u> {{A_data_steward_avans_datum}}.<p>
      {% endif %}
    {% endif %}

    <p><i><u> Waar wordt data gearchiveerd: </i></u> {{ A_Data_gearchiveerd }}.<p>
    <p><i><u> Structuur van de data archief: </i></u> {{ A_Data_gearchiveerd_structuur }}.<p>
    <p><i><u> Wat wordt er gedocumenteerd om replicatie mogelijk temaken?: </i></u> {{ A_Data_gearchiveerd_replicatie }}.<p>



  </div>
</div>
