{% import "src/UUID.j2" as UUID with context %}
<div id="dmp-content">
  <section id="general_information" class="dmp-section">

    <h2>1. General information</h2>
    {% include "src/questions/01-general_information.html.j2" with context %}
    
  </section>



  <section id="re_use_data_and_type" class="dmp-section">

   <h2>2. Data re-using, collectiong and production </h2>
   {% include "src/questions/02-re-using_data.html.json.j2" with context %}

   <h2>3. Metadata and documentation </h2>
   {% include "src/questions/03-metadata-documentation.html.json.j2" with context %} 
  
   <h2>4. Datastorage and backup during research </h2>
   {% include "src/questions/04-metadata_data_storage.html.json.j2" with context %} 
   
   <h2>5. Personal information and property rights </h2>
   {% include "src/questions/05-Handling_personal_information.html.json.j2" with context %}
   
   <h2>6. longterm data preservation? </h2>
   {% include "src/questions/06_data_share_storage_longterm.html.json.j2" with context %} 

   <h2>7. Data management costs </h2>
   {% include "src/questions/07-Data_management_costs.html.json.j2" with context %}
</section>
</div>
