
<div id="q-data-summary" class="question">
  <div class="answer">
	{%- set qApplicantProjectPath = [UUID.chapterbasicUUID, UUID.qApplicantProjectNUUID]|reply_path -%}
	{%- set qNameDmanagementPath = [UUID.chapterbasicUUID, UUID.qNameDManagmenetUUID]|reply_path -%}
	{%- set applicant = repliesMap[qApplicantProjectPath]|reply_str_value -%}
	{%- set name_datamanagment = repliesMap[qNameDmanagementPath]|reply_str_value -%}
	
  <i><u>Applicant : </u></i>
  <p>{{applicant}}<p>

  <i><u>Data steward : </i></u>
  <p>{{name_datamanagment}}<p>


  </div>
</div>
