{% import "src/UUID.j2" as UUID with context %}
<div id="re_use_data_and_type" class="question">
 <div class="answer">

	{%- set re_use_data_path = [UUID.chapter2cUUID,UUID.re_use_dataUUID]|reply_path -%}
	{%- set re_use_data = repliesMap[re_use_data_path]|reply_str_value -%}
	{%- set re_use_data_answer = km.entities.answers[re_use_data] -%}


	{%- set re_use_data_explain_path = [re_use_data_path,UUID.re_use_data_answer_yesUUID,UUID.re_use_data_explainUUID]|reply_path -%}
	{%- set re_use_data_explain = repliesMap[re_use_data_explain_path]|reply_str_value -%}


	{%- set qdata_format_types_path = [UUID.chapter2cUUID,UUID.formats_list_UUID]|reply_path -%}
	{%- set aData_format_types = repliesMap[qdata_format_types_path]|reply_items -%}
	

	{%- set qMhowManyData_path = [UUID.chapter2cUUID,UUID.qMhowManyDataUUID]|reply_path -%}
	{%- set qMhowManyData = repliesMap[qMhowManyData_path]|reply_str_value -%}
	{%- set aMhowmanyData = km.entities.answers[qMhowManyData] -%}

	

	{% if re_use_data_answer %}
        <p><i><u>Is there any data that is going to be re-used :</i></u><br>{{ re_use_data_answer.label }}. <p>
        	{% if UUID.re_use_data_answer_yesUUID == re_use_data %}
        	<p><i><u>explanation :</i></u><br>{{ re_use_data_explain }}<p>
		{% endif %}
	{% else %}
	<i><u>Is there any data that is going to be re-used? :</i></u>
        {% endif %}

	{# formats #}
	<p><i><u>Data formats :</i></u>
    {% for formatUUID in aData_format_types %}
		{%- set format_namepath = [qdata_format_types_path,formatUUID,UUID.format_name]|reply_path -%}
		{%- set format_answer = repliesMap[format_namepath] -%}
		{% if format_answer %}
			<li>{{ format_answer.value.value.value }}.</li>
		{% endif %}
	{% endfor %}
	<p>

	{% if aMhowmanyData %}
	<p><i><u>The following number of data storage will be used for this project :</i></u><br>
	{{ aMhowmanyData.label }}.<p>
    {% endif %}
        
  </div>
</div>

