{% import "src/UUID.j2" as UUID with context %}
<div id="Metadata" class="question">
 <div class="answer">

	
	{%- set qDocumentationDataPath = [UUID.chapter3UUID,UUID.qDocumentationData]|reply_path -%}
	{%- set aDocumentationData = repliesMap[qDocumentationDataPath]|reply_str_value -%}

	{%- set qMetadataStandardsPath = [UUID.chapter3UUID,UUID.qMetadataStandards]|reply_path -%}
	{%- set aMetadataStandards = repliesMap[qMetadataStandardsPath]|reply_str_value -%}
    
        
	<i><u> Documentation of the data:<i><u> {{ aDocumentationData }} <p>
	<i><u> Metadata indication :<i><u> {{ aMetadataStandards }} <p>


  </div>
</div>

