{% import "src/UUID.j2" as UUID with context %}
<div id="storage_metadata" class="question">
 <div class="answer">
	
    
{%- set qData_metadataStorageBackupUUIDPath = [UUID.chapter4UUID,UUID.qData_metadataStorageBackupUUID]|reply_path -%}
{%- set qData_metadataStorageBackup = repliesMap[qData_metadataStorageBackupUUIDPath]|reply_str_value -%}
{%- set amData_metadataStorage = km.entities.answers[qData_metadataStorageBackup] -%}
{%- set amData_metadataStorageOtherExplainPath = [qData_metadataStorageBackupUUIDPath,UUID.amData_metadataStorageOtherUUID,UUID.amData_metadataStorageOtherExplainUUID]|reply_path -%}
{%- set amData_metadataStorageOtherExplain = repliesMap[amData_metadataStorageOtherExplainPath]|reply_str_value -%}

{%- set qDataSequrityUUIDpath = [UUID.chapter4UUID,UUID.qDataSequrityUUID]|reply_path -%}
{%- set qmDataSequrity = repliesMap[qDataSequrityUUIDpath]|reply_str_value -%}
{%- set qmADataSequrity = km.entities.answers[qmDataSequrity] -%}
{%- set qmADataSequrityAdditionalotherpath = [qDataSequrityUUIDpath,UUID.qmADataSequrityAdditionalUUID,UUID.qmADataSequrityAdditionalotherUUID]|reply_path -%}
{%- set qmADataSequrityAdditionalother = repliesMap[qmADataSequrityAdditionalotherpath]|reply_str_value -%}
		
		{% if qData_metadataStorageBackup %}
                	<p><i><u>Storage of data and metadata :</i></u><br>{{ amData_metadataStorage.label }}.<p>
                	{% if UUID.amData_metadataStorageOtherUUID == qData_metadataStorageBackup %}
                	<p><i><u>Explaination: </i></u><br>{{ amData_metadataStorageOtherExplain }} <p>
			{% endif %}
		{% else %}
		<i><u>Storage of data and metadata :</i></u>
                {% endif %}

                
		{% if qmDataSequrity %}
            <p><i><u>How will the data security and protection be taken care of during the research? :</i></u><br>{{ qmADataSequrity.label }}.<p>
        		 {% if UUID.qmADataSequrityAdditionalUUID == qmDataSequrity  %}
                	 <p><i><u>Additional security measures :</i></u><br>{{qmADataSequrityAdditionalother}}<p>
                	 {% endif %}
		{% else %}
		<i><u>How will the data security and protection be taken care of during the research? :</i></u>
		{% endif %}

        
  </div>
</div>

