{% import "src/UUID.j2" as UUID with context %}
<div id="Edit this" class="question">
 <div class="answer">
	
	
		{%- set qProcessPersonalDataUUIDPATH = [UUID.chapter5UUID,UUID.qProcessPersonalDataUUID]|reply_path -%}
		{%- set qProcessPersonalData = repliesMap[qProcessPersonalDataUUIDPATH]|reply_str_value -%}
		{%- set aProcessPersonalData = km.entities.answers[qProcessPersonalData] -%}
		{%- set aProcessPersonalDataYesUUIDQpath = [qProcessPersonalDataUUIDPATH,UUID.aProcessPersonalDataYesUUID,UUID.aProcessPersonalDataYesUUIDQ]|reply_path -%}	
		{%- set aProcessPersonalDataYesA = repliesMap[aProcessPersonalDataYesUUIDQpath]|reply_str_value -%}


		{%- set ownershipDatamanageUUIDpath = [UUID.chapter5UUID,UUID.ownershipDatamanageUUID]|reply_path -%}
		{%- set aownershipDatamanage = repliesMap[ownershipDatamanageUUIDpath]|reply_str_value -%}

		{% if qProcessPersonalData %}
                	<i><u>Is personal data stored or processed? : </i></u>
					<p>{{aProcessPersonalData.label}}.<p>
                	{% if qProcessPersonalData == UUID.aProcessPersonalDataYesUUID  %}
                	<i><u>Compliance with legalisation and regulation of personal data be ensured :</i></u>
					<p>{{ aProcessPersonalDataYesA}}  <p>
			{% endif %}
		{% else %}
			<i><u>Is personal data stored or processed? : </i></u>
        {% endif %}
         <i><u>How is the ownership of the data and intellectual property rights to the data managed? :</i></u>
		<p>{{ aownershipDatamanage }}<p>

    
        
  </div>
</div>

